:root {
    --card-height: 80px;
    --card-ratio: 1.41; /* width / height*/
    --border-color: #333;
}

html {
    overflow-x: hidden;
}

p {
    color:#15514A;
}

p, h1, h2 {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* body {
    background-image: url(bg.jpg);
} */

canvas {
    position:absolute;
    top: 0px;
    left: 0px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    /* position: relative; */
    /* width: calc(var(--card-height) * var(--card-ratio)); */
    aspect-ratio: var(--card-ratio);
    height: var(--card-height);
    border: 1px solid black;
}
.card-img {
    position: absolute;
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
    /* width: calc(var(--card-height) * var(--card-ratio)); */
    aspect-ratio: var(--card-ratio);
    height: var(--card-height);
}

#log{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ensure the main panel padding is consistent */
    padding: 10px; 
    box-sizing: border-box; 
    /* overflow-y: auto; */
    /* border: 1px solid gray; */
    /* width: 300px; */
    /* height: 200px; */
}

.log-message {
    /* font-size: 0.9rem; 
    line-height: 1.4; 
    color: #555; */
    overflow-y: auto;
    flex-grow: 1;
    
    /* Provides the margin at the bottom of the text */
    padding-bottom: 15px; 
    
    /* Helps scrollbar stay inside the padding */
    padding-right: 5px; 
}

.player {
    border: 1px solid black;
}
.self_player {
    border: 2px solid rgb(61, 255, 71);
}

/* #players {
    display: flex;
} */

#controls {
    display: none;
}

#start-menu {
    position: absolute;
    background-color:#F5F3F6;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 600px;
    height: 80%;
    max-height: 500px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    justify-content: center;
}

.home-button {
    cursor: pointer;
    display: inline-block;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 26px 46px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button {
	--offset: 10px;
	--border-size: 2px;
	
	display: block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: #e55743;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
	
	&:hover {
		background: rgba(100, 0, 0, .03);
	}
	
}

.elementToFadeIn {
    -webkit-animation: fadein 1s linear;
    animation: fadein 1s linear;
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.home-button2 {
padding: 8px;
}

.center-buttons {
    padding: 20px;
    align-content: center;
    text-align: center;
}

.screen-lobby {
    padding: 20px;
    align-content: center;
    text-align: center;
    display: none;
}

.join-screen {
    padding: 20px;
    align-content: center;
    text-align: center;
    display: none;
}



.waiting-room {
  padding: 50px;
  align-content: center;
  text-align: center;
  display: none;
}

#join-code {
    background-color: white;
    border-color: black;
    border-radius:10px;
    width: 290px;
    height: 30px;
    float: left;
}

#player-button {
    display: none;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* @keyframes sway  {
    0% { transform: rotate(8deg); }
    50% { transform: rotate(-8deg); }
    100% { transform: rotate(8deg); }
} */


#game {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    grid-template-rows: 150px 1fr;
    gap: 10px;
    height: 100%;
}

.panel {
    background: white;
    border: 2px solid var(--border-color);
    padding: 10px;
    overflow: hidden;
}

#stats-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.object-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    width: 100%;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.open-piles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    p {
        border: 1px solid red;
        margin: 0 auto;
    }   
}

/* .stats {
    display: inline;
    padding-right: 15px;
} */